/.idea
/node_modules
/public/css/custom.css
/public/css/override.css
/public/favicon
/public/images/header.*
/public/images/logo.*
/public/images/uploads
/resources/lang
/storage/*.key
/storage/db
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
