/.idea
/node_modules
/public/hot
/public/favicon
/public/storage
/public/images/header.*
/public/images/logo.*
/public/images/uploads
/storage/*.key
/storage/db
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
