.btn{
  border:1px solid #333333;
  border-radius:5px;
  cursor:pointer;
  display:block;
  font-size:1rem;
  padding:10px 15px;
  text-decoration:none;
}
.btn.regular{
  background-color:#0799bf;
  color:white;
}
.btn.success{
  background-color:#228b22;
  color:white;
}

.form-fieldset{
  margin:20px auto;
  width:80%;
}
.form-fieldset legend{
  border-bottom:1px solid #0d0d0d;
  color:#0d0d0d;
  font-size:1.5em;
  position:relative;
  width:100%;
}

.form-row{
  margin:20px 0;
}
.form-row .caption{
  display:block;
  font-size:1rem;
}
.form-row .info-wrap{
  min-height:400px;
}

.buttons-wrap{
  margin:20px auto;
  width:80%;
}

.form-input{
  border:1px solid #0d0d0d;
  border-radius:2px;
  color:#0d0d0d;
  padding:5px 10px;
  min-width:250px;
  width:50%;
}

.image-upload-wrap{
  display:block;
  padding:10px;
  text-align:center;
}
.image-upload-wrap .image-upload-preview{
  min-width:320px;
}
.image-upload-wrap .image-upload-preview img{
  -o-object-fit:contain;
     object-fit:contain;
  max-width:400px;
  width:100%;
}
.image-upload-wrap .image-upload-controls{
  align-items:center;
  display:flex;
  justify-content:center;
  padding:20px;
}

@font-face{
  font-family:"Futturra";
  src:url("/fonts/futturra/Futturra.eot");
  src:url("/fonts/futturra/Futturra.eot?#iefix") format("embedded-opentype"), url("/fonts/futturra/Futturra.woff") format("woff"), url("/fonts/futturra/Futturra.ttf") format("truetype");
  font-style:normal;
  font-weight:normal;
}
body{
  min-width:320px;
  font-family:"Futturra", sans-serif;
}

.flex-c{
  justify-content:center;
}

.flex-fs{
  justify-content:flex-start;
}

.flex-fe{
  justify-content:flex-end;
}

header{
  background-color:#0799bf;
  align-items:center;
  display:flex;
  justify-content:flex-end;
  padding:10px 20px;
}
header .login-form-menu ul{
  align-items:center;
  display:flex;
  justify-content:center;
}
header .login-form-menu ul li span, header .login-form-menu ul li a{
  color:white;
  cursor:pointer;
  display:block;
  padding:10px 15px;
  text-decoration:none;
}
header .login-form-menu ul li span:hover, header .login-form-menu ul li a:hover{
  text-decoration:underline;
}

.banner-wrap{
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  align-items:flex-start;
  display:flex;
  justify-content:flex-end;
  min-height:250px;
  padding:40px;
  position:relative;
}
.banner-wrap .site-menu-wrap ul li a{
  color:#0d0d0d;
  display:block;
  font-size:1.25rem;
  font-weight:bold;
  text-shadow:0 0 5px white;
  padding:10px;
  text-decoration:none;
}

.login-form{
  border:1px solid #0d0d0d;
  border-radius:5px;
  background-color:#0799bf;
  display:none;
  padding:15px;
  position:absolute;
  right:15px;
  top:50px;
  z-index:101;
}
.login-form input{
  margin:10px 0;
  padding:4px 8px;
}
.login-form.active{
  display:block;
}

.registration-form{
  max-width:640px;
  margin:40px auto;
}
.registration-form input, .registration-form button{
  border:1px solid #0d0d0d;
  border-radius:5px;
  margin:15px 0;
  padding:6px 12px;
}
.registration-form .thank-you-wrap{
  text-align:center;
}
.registration-form .thank-you-wrap i{
  color:#b20310;
  font-size:8rem;
}
.registration-form .thank-you-wrap i.success{
  color:#22c708;
}
.registration-form .thank-you-text{
  margin:30px 0;
  font-size:2rem;
  text-align:center;
}

.messages-wrap{
  max-width:320px;
  position:fixed;
  right:0;
  top:10%;
  z-index:99;
}
.messages-wrap ul li{
  border-radius:5px;
  display:block;
  margin:10px 0;
  padding:10px 35px 10px 15px;
  position:relative;
}
.messages-wrap ul li .close{
  cursor:pointer;
  position:absolute;
  right:5px;
  top:7px;
}
.messages-wrap ul li .close i{
  font-size:20px;
}
.messages-wrap ul li.error{
  background-color:#b20310;
  border:2px solid #80020b;
  color:white;
}
.messages-wrap ul li.success{
  background-color:#22c708;
  border:2px solid #228b22;
  color:#0d0d0d;
}
.messages-wrap ul li.warning{
  background-color:#ebf94d;
  border:2px solid #f9b14c;
  color:#0d0d0d;
}

.main-container{
  background-color:#e8f4f6;
  margin-bottom:60px;
  padding:0 20px;
}

.content-wrap{
  align-items:stretch;
  display:flex;
  justify-content:space-evenly;
  flex-wrap:wrap;
}
.content-wrap .participant-list-wrap{
  width:300px;
}
.content-wrap .page-content-wrap{
  width:750px;
}
.content-wrap .real-score-wrap{
  width:350px;
}
.content-wrap .team-score-input, .content-wrap .team-selector{
  background-color:white;
  border:1px solid #aaaaaa;
  border-radius:2px;
  padding:5px;
  font-size:1rem;
}
.content-wrap .team-score-input{
  text-align:center;
  width:60px;
}
.content-wrap .team-selector{
  min-width:250px;
}

.page-title{
  background-color:#2c4649;
  color:white;
  font-size:1.125rem;
  font-weight:bold;
  margin:40px 0;
  padding:10px;
  text-align:center;
  text-transform:uppercase;
  width:100%;
}
.page-title:first-child{
  margin-top:0;
}

.page-content{
  background-color:white;
  padding:5%;
  text-align:justify;
}
.page-content p{
  font-size:1.125rem;
  padding:5px 0;
}
.page-content blockquote{
  background-color:#e8f4f6;
  margin:10px 0;
  padding:10px;
  width:80%;
}
.page-content img{
  margin:5px 10%;
  -o-object-fit:contain;
     object-fit:contain;
  width:80%;
}

.page-list > li > span{
  background-color:#aaaaaa;
  color:white;
  display:block;
  font-size:1.25rem;
  padding:5px;
  text-align:center;
  width:100%;
}
.page-list ul{
  list-style-type:"-";
}
.page-list ul > li{
  padding:5px;
  margin:5px 20px;
}
.page-list ul > li span{
  font-size:1.125rem;
}

.content-table{
  margin:5px 0;
  width:100%;
}
.content-table thead tr{
  background-color:#2c4649;
  border:2px solid #0d0d0d;
}
.content-table thead tr th{
  color:white;
  padding:10px;
  text-align:center;
}
.content-table tbody tr{
  background-color:#deecee;
}
.content-table tbody tr.hovered{
  background-color:white;
}
.content-table tbody tr td{
  border:1px solid #aaaaaa;
  padding:8px 12px;
  text-align:center;
}
.content-table tbody tr td span{
  border-bottom:1px solid transparent;
}
.content-table tbody tr td span.match{
  border-bottom-color:#228b22;
}
.content-table tfoot tr{
  background-color:#0799bf;
}
.content-table tfoot tr td{
  border:1px solid #aaaaaa;
  color:#ebf94d;
  font-size:1.25rem;
  padding:5px 20px;
  text-align:center;
  position:relative;
  vertical-align:middle;
}
.content-table tfoot tr td .total-points{
  right:2.5%;
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}
.content-table tfoot tr td .total-points i{
  color:#ebf94d;
  right:55px;
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}
.content-table.score-table{
  width:750px;
}
.content-table.score-table tbody tr td:first-child, .content-table.score-table tbody tr td:last-child{
  min-width:250px;
}
.content-table.real-score tbody tr td{
  min-width:40px;
}
.content-table.participant tbody tr td{
  vertical-align:middle;
}
.content-table.participant tbody tr:hover{
  background-color:white;
}
.content-table.participant a{
  color:#0d0d0d;
  display:block;
  padding:5px;
  text-decoration:none;
}

.page-heading{
  background-color:#2c4649;
  color:white;
  padding:10px;
  text-align:center;
  width:100%;
}

.content-block-wrap{
  background-color:#deecee;
  border:1px solid #aaaaaa;
  display:flex;
  font-size:1rem;
  padding:5px;
}

.user-info-wrap{
  border:1px solid #333333;
  border-top:none;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  margin:0 auto;
  width:80%;
}
.user-info-wrap .user-name{
  color:#2c4649;
  font-size:1.5em;
  padding:20px;
  text-align:center;
  text-decoration:none;
}
.user-info-wrap .user-name:hover{
  text-decoration:underline;
}
.user-info-wrap .image-wrap{
  display:block;
  margin:0 auto;
  width:80%;
}
.user-info-wrap .image-wrap img{
  -o-object-fit:contain;
     object-fit:contain;
  width:100%;
}
.user-info-wrap .user-score-wrap{
  color:#2c4649;
  font-size:1.5em;
  padding:40px;
  text-align:center;
}

.user-about-wrap{
  margin:20px auto;
  width:80%;
}
.user-about-wrap .user-about-caption-wrap{
  background-color:#2c4649;
  color:white;
  font-size:1.25rem;
  font-weight:bold;
  padding:10px;
  text-align:center;
  width:100%;
}
.user-about-wrap h6{
  font-size:1em;
  margin:0 auto;
  padding:20px;
  width:90%;
}

@media (max-width: 1455px){
  .content-wrap{
    font-size:0.75rem;
  }
  .content-wrap .participant-list-wrap{
    width:240px;
  }
  .content-wrap .page-content-wrap{
    width:445px;
  }
  .content-wrap .real-score-wrap{
    width:280px;
  }
  .content-wrap .team-score-input{
    font-size:0.75rem;
    width:40px;
  }
  .content-wrap .team-selector{
    font-size:0.75rem;
    min-width:150px;
  }
  .content-table tbody tr td a, .content-table tbody tr td span{
    font-size:0.75rem;
  }
  .content-table.score-table{
    width:445px;
  }
  .content-table.score-table tbody tr td:first-child, .content-table.score-table tbody tr td:last-child{
    min-width:150px;
  }
}
@media (max-width: 1024px){
  .content-wrap .participant-list-wrap{
    width:80%;
  }
  .content-wrap .page-content-wrap{
    width:45%;
  }
  .content-wrap .real-score-wrap{
    width:45%;
  }
}
