.competition-table:nth-child(odd){
  margin-bottom:10px;
}
.competition-table:nth-child(even){
  margin-bottom:75px;
}
.competition-table thead tr{
  border-bottom:2px solid #0f3479;
}
.competition-table thead tr th{
  padding:15px;
  text-align:center;
}
.competition-table thead tr th .flag-img{
  display:block;
  margin:0 auto;
}
.competition-table tbody tr{
  counter-increment:row-num;
}
.competition-table tbody tr td{
  border:1px solid #fffffe;
  padding:10px;
  position:relative;
  text-align:center;
}
.competition-table tbody tr td.country-wrap{
  text-align:right;
  vertical-align:middle;
  padding-right:80px;
}
.competition-table tbody tr td.country-wrap .flag-img{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}
.competition-table tbody tr td.country-wrap.invert{
  text-align:left;
  padding-left:80px;
}
.competition-table tbody tr td.country-wrap.invert .flag-img{
  left:0;
}
.competition-table tbody tr td .swap-btn{
  border:none;
  cursor:pointer;
  margin:5px 15px;
}
.competition-table tbody tr td .swap-btn i{
  font-size:24px;
}
.competition-table tfoot tr{
  text-align:center;
}
.competition-table tfoot tr .add{
  color:#179703;
  cursor:pointer;
  font-size:32px;
  padding:5px;
}
.competition-table.has-inc-rows tbody tr td:first-child::after{
  display:block;
  content:counter(row-num);
  position:absolute;
  left:-20px;
  top:50%;
  transform:translateY(-50%);
}
.competition-table .flag-img{
  -o-object-fit:contain;
     object-fit:contain;
  height:60px;
  width:60px;
  margin:0 10px;
}

.set-date{
  color:#345da9;
  cursor:pointer;
  padding:4px 8px;
  text-align:center;
}

.score-input{
  background-color:#fffffe;
  border:1px solid #0d0d0d;
  border-radius:5px;
  min-width:50px;
  padding:5px 2px;
  text-align:center;
  width:50px;
}

.stages-wrap{
  align-items:stretch;
  display:flex;
  justify-content:flex-start;
  overflow-x:scroll;
  width:100%;
}
.stages-wrap .stage-item-wrap{
  border-right:1px solid #2a2a2a;
  min-width:250px;
  padding:20px;
}
.stages-wrap .stage-item-wrap .group-caption-wrap{
  font-weight:bold;
  font-size:24px;
  text-align:center;
}
.stages-wrap .stage-item-wrap .add-game-wrap{
  margin-top:50px;
  text-align:center;
}
.stages-wrap .play-off-games-list{
  margin-top:40px;
  position:relative;
}
.stages-wrap .play-off-games-list li{
  border-bottom:1px solid #345da9;
  margin:20px 10px;
  position:relative;
}
.stages-wrap .play-off-games-list li .game-date-wrap{
  align-items:center;
  display:flex;
  justify-content:center;
}
.stages-wrap .play-off-games-list li .game-teams-wrap, .stages-wrap .play-off-games-list li .game-teams-score-wrap{
  align-items:center;
  display:flex;
  justify-content:space-around;
  margin:10px 0;
}
.stages-wrap .play-off-games-list li .game-teams-wrap span, .stages-wrap .play-off-games-list li .game-teams-score-wrap span{
  font-size:16px;
}
.stages-wrap .play-off-games-list li .game-place-wrap input{
  min-width:198px;
}
.stages-wrap .play-off-games-list li .game-teams-score-wrap{
  min-width:120px;
}
.stages-wrap .play-off-games-list li .game-accept-wrap, .stages-wrap .play-off-games-list li .game-place-wrap{
  margin:10px 0;
  text-align:center;
}
.stages-wrap .play-off-games-list li .game-controls-wrap{
  position:absolute;
  right:-25px;
  top:0;
}
.stages-wrap .add-stage-wrap{
  align-items:flex-start;
  display:flex;
  justify-content:center;
  min-width:200px;
  padding-top:10px;
}
.stages-wrap .add-stage-wrap i{
  cursor:pointer;
  font-size:64px;
  color:#22c708;
}

.group-caption-wrap{
  min-width:210px;
  position:relative;
}
.group-caption-wrap > span{
  font-size:32px;
  padding:0 20px;
}
.group-caption-wrap .move-group{
  cursor:grab;
  left:-20px;
  padding:5px 10px;
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}
.group-caption-wrap .move-group:active{
  cursor:grabbing;
}
.group-caption-wrap .group-controls{
  align-items:center;
  display:flex;
  position:absolute;
  right:-15px;
  top:50%;
  transform:translateY(-50%);
}

#playOffTable{
  min-height:90vh;
  overflow-x:hidden;
  width:100%;
}
