.btn {
  border: 1px solid $gray;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  padding: 10px 15px;
  text-decoration: none;
}

.form-fieldset {
  margin: 20px auto;
  width: 80%;

  legend {
    border-bottom: 1px solid $black;
    font-size: 1.5em;
    position: relative;
    width: 100%;
  }
}

.form-row {
  margin: 20px 0;

  .caption {display: block; font-size: 1rem}

  .info-wrap {min-height: 400px}

}

.buttons-wrap {
  margin: 20px auto;
  width: 80%;
}

.form-input {
  border: 1px solid $black;
  border-radius: 2px;
  color: $black;
  padding: 5px 10px;
  min-width: 250px;
  width: 50%;
}


.image-upload-wrap {
  display: block;
  padding: 10px;
  text-align: center;

  .image-upload-preview {
    min-width: 320px;

    img {
      object-fit: contain;
      max-width: 400px;
      width: 100%;
    }
  }

  .image-upload-controls {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px;
  }
}