$black: #0d0d0d;
$gray: #333333;
$gray-light: #aaaaaa;
$white-bg: #deecee;
$background: #e8f4f6;

$heading: #2c4649;
$blue: #0799bf;
$green-dark: #228b22;
$green: #22c708;
$yellow: #ebf94d;
$orange: #f9b14c;
$red-dark: #9a1032;
$red: #b20310;