@import "variables", "form";

@font-face {
  font-family: "Futturra";
  src: url("/fonts/futturra/Futturra.eot");
  src: url("/fonts/futturra/Futturra.eot?#iefix") format("embedded-opentype"),
  url("/fonts/futturra/Futturra.woff") format("woff"),
  url("/fonts/futturra/Futturra.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  background-color: $background;
  min-width: 320px;
  font-family: "Futturra", sans-serif;
}

.flex-c {justify-content: center}

.flex-fs {justify-content: flex-start}

.flex-fe {justify-content: flex-end}

header {
  background-color: $blue;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;

  .login-form-menu ul {
    align-items: center;
    display: flex;
    justify-content: center;

    li {
      span, a {
        color: white;
        cursor: pointer;
        display: block;
        padding: 10px 15px;
        text-decoration: none;

        &:hover {text-decoration: underline}
      }
    }
  }
}

.banner-wrap {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  min-height: 250px;
  padding: 40px;
  position: relative;

  .site-menu-wrap {
    ul li {
      a {
        color: white;
        display: block;
        font-size: 1.25rem;
        font-weight: bold;
        text-shadow: 0 0 5px $black;
        padding: 10px;
        text-decoration: none;
      }
    }
  }
}

.login-form {
  border: 1px solid $black;
  border-radius: 5px;
  background-color: $blue;
  display: none;
  padding: 15px;
  position: absolute;
  right: 15px;
  top: 50px;
  z-index: 101;

  input {margin: 10px 0; padding: 4px 8px}

  &.active {display: block}
}

.registration-form {
  max-width: 640px;
  margin: 40px auto;

  input, button {
    border: 1px solid $black;
    border-radius: 5px;
    margin: 15px 0;
    padding: 6px 12px;
  }

  .thank-you {
    &-wrap {
      text-align: center;

      i {
        color: $red;
        font-size: 8rem;

        &.success {color: $green}
      }
    }

    &-text {
      margin: 30px 0;
      font-size: 2rem;
      text-align: center;
    }
  }
}

.messages-wrap {
  max-width: 320px;
  position: fixed;
  right: 0;
  top: 10%;
  z-index: 99;

  ul li {
    border-radius: 5px;
    display: block;
    margin: 10px 0;
    padding: 10px 35px 10px 15px;
    position: relative;

    .close {
      cursor: pointer;
      position: absolute;
      right: 5px;
      top: 7px;

      i {font-size: 20px}
    }

    &.error {
      background-color: $red;
      border: 2px solid $red-dark;
      color: white;
    }

    &.success {
      background-color: $green;
      border: 2px solid $green-dark;
      color: $black;
    }

    &.warning {
      background-color: $yellow;
      border: 2px solid $orange;
      color: $black;
    }
  }
}

.main-container {
  margin-bottom: 60px;
  padding: 0 20px;
}

.content-wrap {
  align-items: stretch;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .participant-list-wrap {width: 300px}

  .page-content-wrap {width: 700px}

  .real-score-wrap {width: 402px}

  .team-score-input, .team-selector {
    background-color: white;
    border: 1px solid $gray-light;
    border-radius: 2px;
    padding: 5px;
    font-size: 1rem;
  }

  .team-score-input {text-align: center; width: 60px}

  .team-selector {min-width: 250px}
}

.page-title {
  background-color: $heading;
  color: white;
  font-size: 1.125rem;
  font-weight: bold;
  margin: 40px 0;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  &:first-child {margin-top: 0}
}

.page-content {
  background-color: white;
  padding: 5%;
  text-align: justify;

  p {font-size: 1.125rem; padding: 5px 0}

  blockquote {
    background-color: $background;
    margin: 10px 0;
    padding: 10px;
    width: 80%;
  }

  img {
    margin: 5px 10%;
    object-fit: contain;
    width: 80%;
  }
}

.page-list {
  > li > span {
    background-color: $gray-light;
    color: white;
    display: block;
    font-size: 1.25rem;
    padding: 5px;
    text-align: center;
    width: 100%;
  }

  ul {
    list-style-type: '-';

    > li {
      padding: 5px;
      margin: 5px 20px;

      span {font-size: 1.125rem}
    }
  }
}

.content-table {
  margin: 5px 0;
  width: 100%;

  thead tr {
    background-color: $heading;
    border: 1px solid $black;

    th {
      color: white;
      padding: 10px;
      text-align: center;
    }
  }

  tbody tr {
    background-color: $white-bg;

    &.hovered {background-color: white}

    &.group-finish:not(:last-child) {border-bottom: 2px solid $black}

    td {
      border: 1px solid $gray-light;
      padding: 8px 12px;
      text-align: center;

      span {border-bottom: 1px solid transparent}

      span.match {border-bottom-color: $green-dark}
    }

    .rotate {
      background-color: $heading;
      border: 1px solid $black;
      color: white;
      text-orientation: upright;
      writing-mode: vertical-rl;
    }
  }

  tfoot {
    tr {
      background-color: $blue;

      td {
        border: 1px solid $gray-light;
        color: $yellow;
        font-size: 1.25rem;
        padding: 5px 20px;
        text-align: center;
        position: relative;
        vertical-align: middle;

        .total-points {
          right: 2.5%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);

          i {
            color: $yellow;
            right: 55px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }

  &.score-table {
    width: 700px;

    tbody tr {
      td:first-child, td:last-child {min-width: 250px}
    }
  }

  &.real-score tbody tr td {
    min-width: 40px;

    &:first-child, &:last-child {min-width: 160px}
  }

  &.participant {
    tbody tr {
      td {vertical-align: middle}

      &:hover {background-color: white;}
    }

    a {
      color: $black;
      display: block;
      padding: 5px;
      text-decoration: none;
    }
  }
}

.page-heading {
  background-color: $heading;
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.subject-image-wrap {
  text-align: center;
  width: 100%;

  img {
    object-fit: cover;
    max-height: 450px;
    width: 100%;
  }
}

.subject-text-wrap {
  background-color: $white-bg;
  line-height: 1.375rem;
  font-size: 1.125rem;
  margin: 15px 0;
  padding: 15px;
  text-indent: 1.5rem;

  p {line-height: 1.375rem; font-size: 1.125rem}

  .subject-controls-wrap {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;

    .subject-etc {color: $gray; font-size: .75rem}
  }
}

.comment-list-wrap {
  position: relative;

  .comment-etc-wrap .comment-misc, .comment-etc-wrap .answer-action, .comment-form-misc > span {
    color: $gray;
    font-size: .75rem;
    margin-left: 10px
  }

  #comment-form {
    display: none;
    margin-top: 15px;
    position: relative;
    width: 100%;

    .comment-form-misc {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }
  }

  .add-comment-wrap {margin: 25px 0 10px}

  .comment-form-misc, .add-comment-wrap {
    button {
      background-color: $background;
      border: 1px solid $heading;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1.25rem;
      padding: 10px;

      &:active, &.active {background-color: $green-dark;color: $background}
    }
  }
  .comment-form-misc button {
    font-size: 1rem;
    padding: 6px 12px;
  }

  > ul {
    padding: 10px;
    position: relative;

    li {
      margin: 15px 0;

      &.comment-author {background-color: $white-bg}

      > ul {
        margin-left: 25px;
        position: relative;
      }

      > ul > ul > ul > ul > ul {margin-left: 0}
    }
  }

  .comment-text-wrap {
    border-left: 1px solid $gray-light;
    padding: 5px 5px 5px 15px;

    .comment-text {line-height: 1.125rem; font-size: 1rem}

    .comment-reason {
      font-size: 1rem;
      color: $blue;
      font-style: italic;
    }
  }

  .comment-etc-wrap {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;

    .answer-action {
      border-bottom: 1px dashed $gray;
      text-decoration: none;

      &.active {border-bottom-color: transparent}
    }
  }
}

.content-block-wrap {
  background-color: $white-bg;
  border: 1px solid $gray-light;
  display: flex;
  font-size: 1rem;
  padding: 5px;
}

.user-info-wrap {
  border: 1px solid $gray;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0 auto;
  width: 80%;

  .user-name {
    color: $heading;
    font-size: 1.5em;
    padding: 20px;
    text-align: center;
    text-decoration: none;

    &:hover {text-decoration: underline}
  }

  .image-wrap {
    display: block;
    margin: 0 auto;
    width: 80%;

    img {object-fit: contain;width: 100%}
  }

  .user-score-wrap {
    color: $heading;
    font-size: 1.5em;
    padding: 40px;
    text-align: center;
  }
}

.user-about-wrap {
  margin: 20px auto;
  width: 80%;

  .user-about-caption-wrap {
    background-color: $heading;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    width: 100%;
  }

  h6 {
    font-size: 1em;
    margin: 0 auto;
    padding: 20px;
    width: 90%;
  }
}

.forum-list-wrap {
  width: 100%;

  li {
    background-color: white;
    margin: 15px 0;

    .forum-list-item {
      min-height: 120px;
      padding: 20px 20px 0 20px;

      img {
        float: left;
        object-fit: contain;
        max-width: 175px;
        padding: 0 20px 8px 0;
      }
    }
  }

  .forum-list-body {
    .forum-list-title {
      color: $heading;
      display: block;
      font-size: 1.25rem;
      font-weight: bold;
      padding-bottom: 20px;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {text-decoration: underline}
    }

    .forum-list-description {font-size: 1rem}
  }

  .forum-list-info {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    .forum-list-text, .forum-list-pin, .forum-list-edit, .forum-list-move {
      color: $gray;
      font-size: 0.875rem;
      margin-left: 8px;
      padding: 10px;
      text-decoration: none;
    }

    a.forum-list-text:hover {text-decoration: underline}

    .forum-list-edit, .forum-list-pin, .forum-list-move {&:hover {color: $red}}

    .forum-list-pin {rotate: 0deg; transition: rotate .5s ease}
    .forum-list-pin:hover {rotate: 45deg; transition: rotate .5s ease}

    .forum-list-move {
      cursor: grab;

      i {margin-left: 2px}

      &:active {cursor: grabbing}
    }
  }
}

@media (max-width: 1455px) {
  .content-wrap {
    font-size: .75rem;

    .participant-list-wrap {width: 240px}

    .page-content-wrap {width: 445px}

    .real-score-wrap {width: 280px}

    .team-score-input {
      font-size: .75rem;
      width: 40px;
    }

    .team-selector {
      font-size: .75rem;
      min-width: 150px;
    }
  }

  .subject-image-wrap img {max-height: 350px}

  .content-table {
    tbody tr td {
      padding: 6px 8px;

      a, span {font-size: .75rem}
    }

    &.real-score {
      width: 322px;

      tbody tr td {
        &:first-child, &:last-child {min-width: 120px}
      }
    }

    &.score-table {
      width: 445px;

      tbody tr {
        td:first-child, td:last-child {min-width: 150px}
      }
    }
  }
}

@media (max-width: 1024px) {
  .content-wrap {
    .participant-list-wrap {width: 80%}

    .page-content-wrap {width: 45%}

    .real-score-wrap {width: 45%}
  }

  .subject-image-wrap img {max-height: 250px}
}