body {min-width: 320px}

.flex-c {justify-content: center}
.flex-fs {justify-content: flex-start}
.flex-fe {justify-content: flex-end}

.btn {
  border: 1px solid #333333;
  border-radius: 5px;
  display: block;
  font-size: 1rem;
  padding: 10px 15px;

  &.regular {
    background-color: #05728f;
    color: #ffffff;
  }
}

header {
  background-color: #0f3479;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;

  .login-form-menu ul {
    align-items: center;
    display: flex;
    justify-content: center;

    li {
      span, a {
        color: white;
        cursor: pointer;
        display: block;
        padding: 10px 15px;
        text-decoration: none;

        &:hover {text-decoration: underline}
      }
    }
  }
}

.banner-wrap {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  min-height: 250px;
  padding: 40px;

  .site-menu-wrap {
    ul {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;

      li {
        a {
          color: #0d0d0d;
          display: block;
          font-size: 1.25rem;
          font-weight: bold;
          text-shadow: 0 0 5px #ffffff;
          padding: 10px;
          text-decoration: none;
        }
      }
    }
  }
}

.login-form {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #0f3479;
  display: none;
  padding: 15px;
  position: absolute;
  right: 15px;
  top: 50px;

  input {
    margin: 10px 0;
    padding: 4px 8px;
  }

  &.active {display: block}
}

.registration-form {
  max-width: 640px;
  margin: 40px auto;

  input, button {
    border: 1px solid black;
    border-radius: 5px;
    margin: 15px 0;
    padding: 6px 12px;
  }

  .thank-you {
    &-wrap {
      text-align: center;

      i {
        color: #b20310;
        font-size: 8rem;

        &.success {color: #22c708}
      }
    }

    &-text {
      margin: 30px 0;
      font-size: 2rem;
      text-align: center;
    }
  }
}

.content-wrap {
  align-items: stretch;
  display: flex;
  justify-content: flex-start;
  padding: 40px;

  .participant-list-wrap {width: 300px}

  .real-score-wrap {width: 700px}

  .page-content-wrap {padding: 0 40px; width: 100%}

  .team-score-input, .team-selector {
    background-color: #ffffff;
    border: 1px solid #aaaaaa;
    border-radius: 2px;
    padding: 5px;
    font-size: 1rem;
  }

  .team-score-input {
    text-align: center;
    width: 60px;
  }

  .team-selector {min-width: 250px}
}

.content-table {
  margin: 5px 0;
  width: 100%;

  thead tr {
    background-color: #2c4649;
    border: 2px solid #000000;

    th {
      color: #ffffff;
      padding: 10px;
      text-align: center;
    }
  }

  tbody tr td {
    background-color: #deecee;
    border: 1px solid #aaaaaa;
    padding: 5px;
    text-align: center;

    &:first-child, &:last-child {min-width: 280px}
  }
}

.content-block-wrap {
  background-color: #deecee;
  border: 1px solid #aaaaaa;
  display: flex;
  font-size: 1rem;
  padding: 5px;
}