@import "variables";

#summary-wrapper {position: relative}

.games-list-wrap {
  left: 0;
  position: absolute;
  min-height: 280px;
  width: 315px;

  ul.participant-list-wrap {
    display: none;
    min-height: 200px;
    font-size: .875rem;

    &.active {display: block}

    li {
      padding: 5px 0;
      margin: 5px 0;

      label {
        align-items: center;
        display: flex;
        justify-content: flex-start;
      }

      input {
        margin: 0 5px;
        transform: scale(1.2);
      }
    }
  }

  ul.game-list {
    font-size: .875rem;
    margin-top: 200px;

    &.active {margin-top: 0}

    ul > li {border-bottom: 1px solid $gray-light; cursor: pointer}

    li.game-teams-list {
      border-right: 1px solid $gray-light;
      padding: 8px;
      text-align: center
    }

    li.group-games-list {
      align-items: center;
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;

      .game-team-names, .game-score {padding: 8px}

      .game-team-names {
        display: flex;
        justify-content: flex-end;
        flex-wrap: nowrap;
        width: 215px;

        span:nth-child(2) {padding: 0 2px}
      }

      .game-score {
        border-left: 1px solid $gray-light;
        border-right: 1px solid $gray-light;
        text-align: center;
        width: 100px
      }
    }
  }

  .group-name {
    background-color: $heading;
    border-right: 1px solid $gray-light;
    color: white;
    height: 30px;
    padding: 8px;
    text-align: center;
  }
}

.user-list-wrap {
  margin-left: 314px;
  overflow-x: scroll;
  overflow-y: visible;

  .expand-box:not(.active) {
    height: 150px !important;
  }
}

.show-block {
  background-color: $heading;
  color: white;
  padding: 7px;
  position: relative;
  text-align: center;

  i {
    cursor: pointer;
    padding: 10px;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    position: absolute;
  }

  &.active i {
    transform: rotate(90deg);
    top: -10%;
  }
}

.user-list {
  overflow-y: visible;

  thead {
    th.rotate {
      height: 80px;
      white-space: nowrap;

      div {
        margin-left: 15px;
        transform: translate(25px, 51px) rotate(315deg);
        width: 30px
      }

      span {border-bottom: 1px solid $gray-light; padding: 5px 10px}
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid $gray-light;

      &.user-list-heading {
        border-color: $gray;
        background-color: $heading;
        color: white;

        td {border-left-color: $heading}

        &:first-child {border-bottom: none}
      }

      td {
        border-left: 1px solid $gray-light;
        height: 30px;
        text-align: center;
        width: 100px;

        &:last-child {border-right: 1px solid $gray-light}
        &.green {background-color: #aee571}
        &.yellow {background-color: #fff176}

        div {
          align-items: center;
          display: flex;
          justify-content: center;
          height: 28px;
        }
      }
    }

    .user-list-value {
      height: 30px;
      position: relative;
      width: 100px;

      .user-list-team, .user-list-score {
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: .75rem;
        height: 30px;
        left: 0;
        position: absolute;
        width: 100px;
      }

      .user-list-team {
        flex-wrap: nowrap;
        padding: 0 4px;
        overflow: hidden;
        word-break: keep-all;
      }

      .user-list-score span:nth-child(2) {padding: 0 2px}

      .user-list-points {
        font-size: .75rem;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        right: 4px;
      }
    }
  }
}