.bookmark-wrap {
  align-items: baseline;
  display: flex;

  li {
    border: 1px solid $paragraph;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;

    a, span {
      color: $paragraph;
      display: block;
      padding: 10px 15px;
      text-decoration: none;
    }
  }
  li.active {
    background-color: $secondary;

    a, span {padding-top: 15px}
  }
}