$main: #eff0f3;
$secondary: #fffffe;
$tertiary: #d9376e;
$headline: #0d0d0d;
$paragraph: #2a2a2a;
$highlight: #ff8e3c;

$red: #f83a48;
$red-stroke: #b20310;
$yellow: #ffbb3c;
$yellow-stroke: #f1a00a;
$green: #22c708;
$green-stroke: #179703;
$blue: #345da9;
$blue-stroke: #0f3479;