@import "variables", "bookmark", "buttons", "content-table", "form", "notifications", "pagination", "popup", "search-select", "side-menu";

* {font: 400 14px/20px 'Roboto', sans-serif}

body {background-color: $paragraph; font-family: Verdana, sans-serif;}

.col-100 {width: 100%}
.col-80 {width: 80%}
.col-75 {width: 75%}
.col-70 {width: 70%}
.col-50 {width: 50%}
.col-30 {width: 30%}
.col-25 {width: 25%}

.accept, .edit, .remove, .view {cursor: pointer; padding: 4px}
.accept {color: $green-stroke}
.edit {color: $highlight}
.remove {color: $red-stroke}
.view {color: $blue}

header {
  align-items: center;
  background-color: $paragraph;
  display: flex;
  justify-content: space-between;

  .logo-image-wrap {
    cursor: pointer;
    display: block;
    padding: 3px 10px;
    position: relative;
    text-decoration: none;

    img {
      border-radius: 50%;
      object-fit: cover;
      height: 60px;
      text-align: center;
      width: 60px;
    }
  }

  ul {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    li {
      a {
        color: $secondary;
        display: block;
        padding: 5px 10px;
        text-decoration: none;

        &:hover {color: $highlight}
      }
    }
  }
}

.center-box {
  align-items: stretch;
  display: flex;
  justify-content: space-between;

  > aside {width: 250px}

  > main {
    background-color: $main;
    padding: 20px 20px 0 40px;
    width: calc(100% - 250px)
  }
}

.page-top-elements {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .page-title h1 {font-size: 24px; margin: 20px 0}

  .breadcrumbs-wrap {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    li {
      margin-right: 10px;
      position: relative;

      a, span {
        color: $paragraph;
        cursor: pointer;
        display: block;
        padding: 5px 10px;
        text-decoration: none;

        &:hover {text-decoration: underline}
      }

      &:after {
        content: '>';
        position: absolute;
        right: -10px;
        top: 50%;
        transform: translateY(-50%);
      }

      &:last-child:after {content: none}
    }
  }
}

.page-controls-wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;

  .page-controls-buttons-wrap {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

  .page-controls-navigation {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }

  .search-form-wrap {
    position: relative;
    width: 100%;

    input {
      background-color: $main;
      border: 1px solid $headline;
      border-radius: 5px;
      padding: 5px 30px 5px 10px;
      width: 100%;
    }

    button {
      background: transparent;
      border: 1px solid transparent;
      border-radius: 5px;
      cursor: pointer;
      padding: 4px 4px 4px 8px;
      position: absolute;
      right: 1px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .per-page-wrap {margin-left: 10px}
}

.info-table {
  margin: 20px 0;
  width: 100%;

  thead {
    background-color: $blue-stroke;
    color: $main;

    tr {border: 1px solid $main}

    th {padding: 5px; text-align: center}
    th span {font-weight: bold;}
  }

  tbody {
    td {
      padding: 5px 10px;

      &.marked {
        background-color: $blue-stroke;
        border: 1px solid $main;
        color: $main;
        text-align: center;
      }
    }
  }
}

.comment-list-wrap {
  ul {
    margin-left: 25px;
    position: relative;

    li {display: block; padding: 10px}

    form {position: relative}

    .comment-etc {color: $paragraph; font-size: 12px}

    .comments-controls {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: absolute;
      left: 455px;
      top: 0;

      a {text-decoration: none}
    }
  }
}