@import "variables", "bookmark", "buttons", "content-table", "form", "notifications", "pagination", "popup", "search-select", "side-menu";

* {
  font: 400 14px/20px 'Roboto', sans-serif;
}

body {background-color: $paragraph}

.col-100 {width: 100%}
.col-70 {width: 70%}
.col-50 {width: 50%}
.col-30 {width: 30%}

.accept, .edit, .remove, .view {cursor: pointer; padding: 4px}
.accept {color: $green-stroke}
.edit {color: $highlight}
.remove {color: $red-stroke}
.view {color: $blue}

header {
  background-color: $paragraph;

  ul {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    li {
      a {
        color: $secondary;
        display: block;
        padding: 5px 10px;
        text-decoration: none;

        &:hover {color: $highlight}
      }
    }
  }
}

.center-box {
  align-items: stretch;
  display: flex;
  justify-content: space-between;

  > aside {width: 250px}

  > main {
    background-color: $main;
    padding: 20px 20px 0 40px;
    width: 100%
  }
}

.page-top-elements {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .page-title h1 {font-size: 24px; margin: 20px 0}

  .breadcrumbs-wrap {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    li {
      margin-right: 10px;
      position: relative;

      a, span {
        color: $paragraph;
        cursor: pointer;
        display: block;
        padding: 5px 10px;
        text-decoration: none;

        &:hover {text-decoration: underline}
      }

      &:after {
        content: '>';
        position: absolute;
        right: -10px;
        top: 50%;
        transform: translateY(-50%);
      }

      &:last-child:after {content: none}
    }
  }
}



.page-controls-wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;

  .page-controls-buttons-wrap {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

  .page-controls-navigation {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }

  .search-form-wrap {
    position: relative;
    width: 100%;

    input {
      background-color: $main;
      border: 1px solid $headline;
      border-radius: 5px;
      padding: 5px 30px 5px 10px;
      width: 100%;
    }

    button {
      background: transparent;
      border: 1px solid transparent;
      border-radius: 5px;
      cursor: pointer;
      padding: 4px 4px 4px 8px;
      position: absolute;
      right: 1px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .per-page-wrap {margin-left: 10px}
}

.info-table {
  margin: 20px 0;
  width: 100%;

  thead {
    background-color: $blue-stroke;
    color: $main;

    tr {border: 1px solid $main}

    th {padding: 5px; text-align: center}
    th span {font-weight: bold;}
  }

  tbody {
    td {
      padding: 5px 10px;

      &.marked {
        background-color: $blue-stroke;
        border: 1px solid $main;
        color: $main;
        text-align: center;
      }
    }
  }
}

.competition-table {
  &:nth-child(odd) {margin-bottom: 10px}
  &:nth-child(even) {margin-bottom: 75px}

  thead {
    tr {
      border-bottom: 2px solid $blue-stroke;

      th {
        padding: 15px;
        text-align: center;

        .group-caption-wrap {
          min-width: 250px;
          position: relative;

          span {font-size: 32px; padding: 0 20px}
        }

        .move-group {
          cursor: grab;
          left: -15px;
          padding: 5px 10px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);

          &:active {
            cursor: grabbing;
          }
        }

        .group-controls {
          align-items: center;
          display: flex;
          position: absolute;
          right: -15px;
          top: 50%;
          transform: translateY(-50%);
        }

        .flag-img {display: block; margin: 0 auto}
      }
    }
  }

  tbody {
    tr td {
      border: 1px solid $secondary;
      padding: 10px;
      text-align: center;

      .country-wrap {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;

        &.invert {
          justify-content: flex-start;
        }
      }

      .swap-btn {
        border: none;
        cursor: pointer;
        margin: 5px 15px;

        i {font-size: 24px}
      }
    }
  }

  .add {
    color: $green-stroke;
    cursor: pointer;
    font-size: 32px;
  }

  .flag-img {
    object-fit: contain;
    height: 60px;
    width: 60px;
    margin: 0 10px;
  }

  .set-date {
    color: $blue;
    cursor: pointer;
    padding: 4px 8px;
    text-align: center;
    width: 140px;
  }
}