@import "variables";

.button-color-picker-wrap {
  max-width: 450px;

  &.translations-form {max-width: 100%}

  > ul {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    max-width: 450px;

    li {
      border: 1px solid $blue-stroke;
      cursor: pointer;
      display: block;
      padding: 8px 16px;
      text-align: center;
      width: 50%;

      span, a {
        color: $paragraph;
        font-size: 1.25rem;
        text-decoration: none;
      }

      &:first-child {border-top-left-radius: 10px}
      &:last-child {border-top-right-radius: 10px}

      &.active {
        background-color: $blue;

        span, a {color: white}
      }
    }
  }

  .button-color-picker {
    display: none;
    margin: 10px 0;

    &.active {display: block}
  }
}

.preview-top-menu {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  max-width: 450px;
  width: 100%;

  li {
    font-size: 1.25rem;
    display: block;
    line-height: 16px;
    padding: 10px 15px;
  }
}

.preview-form {
  padding: 15px;
  width: 300px;

  input {margin: 10px 0; padding: 4px 8px}
}

.preview-page-sample {
  width: 450px;

  .page-heading {
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    h1 {
      font-size: 36px;
      font-weight: 400;
      line-height: 36px;
    }
  }

  .regular-text, .small-text {font-size: 1.25rem; padding-top: 20px}

  .small-text {font-size: .875rem}
}

.preview-table {
  width: 450px;

  thead tr {
    border: 1px solid #0d0d0d;

    th {
      font-weight: 700;
      padding: 10px;
      text-align: center;
    }
  }

  tbody tr td {
    border: 1px solid #aaaaaa;
    padding: 8px 12px;
    text-align: center;
  }
}

.translation-list-wrap {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .file-list-wrap {
    padding: 10px 5px;
    position: relative;
    width: 150px;

    li {
      a {
        color: $paragraph;
        display: block;
        font-size: 1.25rem;
        padding: 5px 0;
        text-decoration: none;
      }

      &.active a {color: $headline; font-weight: bold}
    }
  }

  .translation-list {
    border: 1px solid $headline;
    background-color: white;
    padding: 10px 5px;
    position: relative;
    width: calc(100% - 200px);

    .form-input {max-width: 100%; width: 100%}

    > ul {
      li {margin: 10px 0}

      ul {margin-left: 50px}
    }
  }
}